{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}

    <div class="container">
        <h1>Modifier</h1>
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="enregistrer" class="btn btn-primary">
        {{ form_end(form) }}
    </div>

{% endblock %}

