{% extends 'base.html.twig' %}

{% block title %}creer{% endblock %}

{% block body %}
    <div class="container">
    <div class="bg-light my-5 p-3">
        <h1>Créer un nouveau utilisateur</h1>
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="enregistrer" class="btn btn-primary" name="submit">
        {{ form_end(form) }}
    </div>
    </div>
{% endblock %}